In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import wandb

In [93]:
entity = 'pintus261-university-of-trieste'
project = 'GMOOP'

api = wandb.Api()
runs = api.runs(
    f"{entity}/{project}",
    filters={
        'tags' : {'$in': ['exponential-lr']}
    }
)

In [94]:
metrics = ['val_mse', 'val_mae', 'val_R2']
hyperparams = ['dropout', 'hidden_size', 'n_layers', 'activation']

data = []
for run in runs:
    # Check tags
    tags = run.tags
    if 'sinewave' in tags:
        # get the data
        row = dict()
        run_name = run.name
        generation = run_name.split('-')[1]
        individual = run_name.split('-')[2]
        row['generation'] = generation
        row['individual'] = individual
        for metric in metrics:
            row[metric] = run.summary.get(metric)
        for hyperparam in hyperparams:
            row[hyperparam] = run.config.get(hyperparam)
        data.append(row)

data = pd.DataFrame(data)
data = data.apply(pd.to_numeric)
display(data)

,generation,individual,val_mse,val_mae,val_R2,dropout,hidden_size,n_layers,activation
0,1,1,0.001988,0.035629,0.990168,0.122446,19,1,NaN
1,1,2,0.004769,0.056148,0.976583,0.338350,110,2,NaN
2,1,3,0.206420,0.305237,-0.014302,0.210961,27,5,NaN
3,1,4,0.008006,0.074847,0.960549,0.116330,27,1,NaN
4,1,5,0.205740,0.305276,-0.011570,0.099419,19,5,NaN
...,...,...,...,...,...,...,...,...,...
76,19,4,0.003875,0.046627,0.981055,0.500000,124,1,NaN
77,20,1,0.016447,0.099733,0.919226,0.000000,128,3,NaN
78,20,2,0.004895,0.050115,0.975711,0.000000,121,3,NaN
79,20,3,0.001274,0.028501,0.993686,0.000000,128,1,NaN
80,20,4,0.022442,0.109751,0.889696,0.380377,128,3,NaN